@(message: String)

@Main("Bethany Hamilton") {
   <div class="container">
     <div class="row">
      <div class="col-md-4">
        <div class="well">
          <div class="hamilton"></div>
        </div>
      </div>
      
      <div class="col-md-8">
        <div class="well">
          <h3>Bethany Hamilton</h3>
          <p>Bethany Hamilton has become a source of inspiration to millions through her story of faith, determination, and hope. Born into a family of surfers on February 8, 1990, on the island of Kauai, Hawaii, Bethany began surfing at a young age. At the age of eight, Bethany entered her first surf competition, the Rell Sun Menehune event on Oahu, where she won both the short and long board divisions. This sparked a love for surf competition within her spirit.</p>

<p>At the age of thirteen, on October 31, 2003, Bethany was attacked by a 14-foot tiger shark while surfing off Kauai's North Shore. The attack left Bethany with a severed left arm. After losing over 60% of her blood, and making it through several surgeries without infection, Bethany was on her way to recovery with an unbelievably positive attitude. Lifeguards and doctors believe her strong water sense and faith in God helped get her through the traumatic ordeal.</p>

<p>Miraculously, just one month after the attack, Bethany returned to the water to continue pursuing her goal to become a professional surfer. In January of 2004, Bethany made her return to surf competition; placing 5th in the Open Women's division of that contest. With no intention of stopping, Bethany continued to enter and excel in competition. Just over a year after the attack she took 1st place in the Explorer Womens division of the 2005 NSSA National Championships - winning her first National Title.</p>
        </div>
      </div>
     </div>
   </div>
}

