@(message: String) @Main("Kelly Slater") {
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="well">
        <div class="slater"></div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="well">
        <h3>Kelly Slater</h3>
        <p>Kelly Slater's impact on surfing mirrors the 90s Internet revolution. A piece of new technology
          originally dismissed as a cute, space-age toy that ended up changing the world in every conceivable way --
          from performance to money to records to design to longevity. Before Kelly, surf stars were just that: surf
          stars. After? They were highly paid, professional athletes with international appeal and limitless
          possibilities. The scariest fact? He's still not finished.</p>

        <p>Slater got his feet wet on the bunny slopes of Cocoa Beach, a sleepy Central Florida town made famous by
          a sexy, prime-time genie in the '60s. Cocoa Beach, in Slater's estimation, is as good a place as any to
          inherit a solid foundation as a surfer. "It breaks farther out," he says, "so it's easier to learn. If I had
          the choice of learning in Florida or Hawaii, I'd choose Florida. You don't try to run before you can walk."</p>

        <p>And given his resume, no one would argue. As a preteen, Slater showed flashes of the right stuff. Tossing
          his freakishly limber frame around like a gymnast and equipped with an insatiable lust for perfection, he
          quickly entered the spotlight.</p>
      </div>
    </div>
  </div>
</div>
}
